{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}

<form id="refuel_form" method="post" class="row mt-3">
    {% csrf_token %}
    <input class="form-label form-item-100" type="text" id="planned_flt_number" name="planned_flt_number" value="{{ current_flight.id }}" hidden>

    <!-- Fuel page buttons -->
    <div class="col-12">

        <div class="row">

            <div class="col-md-2">
                <a class="card bg-success text-dark" onclick="copyArrivalFuel(event)" href="#" class="text-decoration-none w-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="bi bi-fuel-pump"></i>
                            Copy arrival fuel
                        </h4>
                    </div>
                </a>
            </div>

            <div class="col-md-2">
                <a class="card bg-success text-dark" href="{% url 'servicing_refuel_list' current_airframe.id %}" class="text-decoration-none w-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            <i class="bi bi-card-list"></i>
                            Refueling list
                        </h4>
                    </div>
                </a>
            </div>                

        </div>

    </div>
    <!-- /Fuel page buttons -->

    <!-- Fuel page total inputs -->
    <div class="col-12 mt-3">
        <div class="row">

            <div class="col-md-2">
                <div class="card bg-primary text-light" class="text-decoration-none w-100">
                    <div class="card-body">
                        <label for="nil_uplift" class="col-md-4 form-label">Nil uplift</label>
                        <input class="form-check" type="checkbox" name="nil_uplift" id="nil_uplift" onchange="nilUplift(this)">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card bg-primary text-light" class="text-decoration-none w-100">
                    <div class="card-body">
                        <label class="form-label" for="planned_dep_fuel_in_kg">Fuel Required by FLT PLAN</label>
                        <input class="form-control" type="number" id="planned_dep_fuel_in_kg" name="planned_dep_fuel_in_kg" onblur="calculateFuelVolume()" value="{{current_flight.required_fuel_in_kg}}" placeholder="Fuel required in plan" data-nil-uplift="false" data-auth-required="true">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card bg-primary text-light" class="text-decoration-none w-100">
                    <div class="card-body">
                        <label class="form-label" for="specific_gravity">Fuel specific gravity</label>
                        <input class="form-control" type="number" step="0.01" id="specific_gravity" name="specific_gravity" value="0.81" data-nil-uplift="false" data-auth-required="true">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card bg-primary text-light" class="text-decoration-none w-100">
                    <div class="card-body">
                        <label class="form-label" for="required_fuel_in_volume">Plan add Volume</label>
                        <input class="form-control" id="required_fuel_in_volume" name="required_fuel_in_volume" data-nil-uplift="false" readonly>
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <div class="card bg-primary text-light" class="text-decoration-none w-100">
                    <div class="card-body">
                        <label class="form-label" for="required_fuel_in_weight">Plan add Weight</label>
                        <input class="form-control" id="required_fuel_in_weight" name="required_fuel_in_weight" data-nil-uplift="false" readonly>
                    </div>
                </div>
            </div>
                        
        </div>
    </div>
    <!-- /Fuel page total inputs -->

    <!-- if form_sent == true -> inputs blue bg -->
    <div class="row mt-3">
        
        {% for tank in fluid_tanks %}
            <div class="col-md-3 fuel-tank-single" data-tank-id="{{tank.id}}">
                <div class="card card-danger">
                    <div class="card-body">
                        <div class="card-tile">
                            <h2>{{tank.fluid_template.name}}</h2>
                        </div>
                        <div class="card-form">

                            <div class="mb-3 row form-group">
                                <label for="fluid_capacity_{{ tank.id }}" class="col-md-4 form-label">Capacity</label>
                                <div class="col-md-8">
                                    <span class="form-control" id="fluid_capacity_{{ tank.id }}">{{tank.fluid_template.max_level|floatformat:0}} {{tank.fluid_template.get_units_of_measure_display}}</span>
                                </div>
                            </div>

                            <div class="mb-3 row form-group">
                                <label for="fluid_arrival_{{ tank.id }}" class="col-md-4 form-label">Arrival</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="fluid_arrival_{{ tank.id }}" name="fluid_arrival_{{ tank.id }}" value="{{tank.level|floatformat:0}}" readonly>
                                </div>
                            </div>

                            <div class="mb-3 row form-group">
                                <label for="pre_refuel_in_kg_{{ tank.id }}" class="col-md-4 form-label">Pre Fuel</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="pre_refuel_in_kg_{{ tank.id }}" name="pre_refuel_in_kg_{{ tank.id }}" value="{{tank.level|floatformat:0}}"  type="number" value="" data-nil-uplift="false" data-auth-required="true">
                                </div>
                            </div>

                            <div class="mb-3 row form-group">
                                <label for="fluid_departure_{{ tank.id }}" class="col-md-4 form-label">Departure</label>
                                <div class="col-md-8">
                                    <input class="form-control" id="fluid_departure_{{ tank.id }}" name="fluid_departure_{{ tank.id }}" value="{{tank.level|floatformat:0}}"  onblur="setDepartureFuel(event)" type="number" value="" data-nil-uplift="false" data-auth-required="true">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <!-- Total fuel tank card -->
        <div class="col-md-3 fuel-tank-total" data-tank-id="{{tank.id}}">
            <div class="card card-danger">
                <div class="card-body">
                    <div class="card-tile">
                        <h2>Total Fuel</h2>
                    </div>
                    <div class="card-form">

                        <div class="mb-3 row form-group">
                            <label for="fuel_capacity_total" class="col-md-4 form-label">Capacity</label>
                            <div class="col-md-8">
                                <span class="form-control" id="fuel_capacity_total">{{total_fluid.max_level|floatformat:0}} {{total_fluid.units_of_measure}}</span>
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="fluid_arrival_total" class="col-md-4 form-label">Arrival</label>
                            <div class="col-md-8">
                                <input class="form-control" id="fluid_arrival_total" value="{{total_fluid.level|floatformat:0}}" readonly>
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="pre_refuel_in_kg" class="col-md-4 form-label">Pre Fuel</label>
                            <div class="col-md-8">
                                <input class="form-control" id="pre_refuel_in_kg" name="pre_refuel_in_kg" type="number" value="" readonly="readonly" data-nil-uplift="false">
                            </div>
                        </div>

                        <div class="mb-3 row form-group">
                            <label for="departure_fob_in_kg" class="col-md-4 form-label">Departure</label>
                            <div class="col-md-8">
                                <input class="form-control" id="departure_fob_in_kg" name="departure_fob_in_kg" onchange="calculateFuelVolume()" type="number" value="" readonly data-nil-uplift="false">
                                <input id="required_uplift_in_lt" name="required_uplift_in_lt" type="number" data-nil-uplift="false" value="" hidden>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /Total fuel tank card -->

        <!-- Fuel bill info -->
        <div class="col-md-6 mt-3">
            <div class="card card-danger" id="fuelBillCard">

                <div class="card-body">

                    <div class="row form-group mb-3">
                        <label class="col-md-3 form-label">Fuel Supplier</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="fuel_supplier" name="fuel_supplier" value="" data-nil-uplift="false" data-auth-required="true">
                        </div>
                    </div>

                    <div class="row form-group mb-3">
                        <label class="col-md-3 form-label">Fuel Ticket/Invoice No</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" id="fuel_ticket_no" name="fuel_ticket_no" value="" data-nil-uplift="false" data-auth-required="true">
                        </div>
                    </div>

                    <div class="row form-group mb-3">
                        <label for="calculated_uplift_in_lt" class="col-md-3 form-label">Calculated Uplift</label>
                        <div class="col-md-9">
                            <span class="form-control" id="calculated_uplift_in_lt">0</span>
                        </div>
                    </div>

                    <div class="row form-group mb-3">
                        <label class="col-md-3 form-label">Bowser Uplift</label>
                        <div class="col-md-9">
                            <input class="form-control" type="number" id="bowser_uplift_in_lt" name="bowser_uplift_in_lt" value="" data-nil-uplift="false" data-auth-required="true">
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- /Fuel bill info -->

    </div>

    <div class="row  mt-5">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success btn-lg w-100" id="submitButton">
                <i class="bi bi-check-circle me-2"></i>DATA TRANSMIT
            </button>
        </div>
    </div>

</form>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");

        form.querySelectorAll("input, select, textarea").forEach(el => {
            el.addEventListener("input", calculateFuelVolume);
            el.addEventListener("change", calculateFuelVolume);
            el.addEventListener("input", inputRequired);
            el.addEventListener("change", inputRequired);
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");

        form.querySelectorAll("input, select, textarea").forEach(el => {
            el.addEventListener("input", calculateFuelVolume);
            el.addEventListener("change", calculateFuelVolume);
            el.addEventListener("input", inputRequired);
            el.addEventListener("change", inputRequired);
        });
    });
</script>
{% endblock %}
