{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

        <div class="col-3">
            <a href="{% url 'flight_details' airframe.id %}">
                <div class="flight-details-box selection-box box-green">
                    <span>Flight Details</span>
                    <i class="bi bi-airplane selection-box-icon"></i>
                    <span class="flight-pair selection-box-bottom-text">{{current_flight.departure}}-{{current_flight.arrival}},</span>
                    <span class="flt-number selection-box-bottom-text">{{current_flight.flt_number}},</span>
                    <span class="date-of-flight selection-box-bottom-text">{{current_flight.date_of_flight|date:"d M Y"}}</span>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="{% url 'flight_defects' airframe.id %}">
                <div class="flight-details-box selection-box {% if open_defects_count > 0 %}box-red{% else %}box-green{% endif %}">
                    <span>Defects</span>
                    <i class="bi bi-gear selection-box-icon"></i>
                    <span class="defects-open selection-box-bottom-text">Open ({{ open_defects_count }})</span>
                    <span class="defects-closed selection-box-bottom-text">Closed ({{ closed_defects_count }})</span>
                    <span class="defects-carry selection-box-bottom-text">C/Fwd({{ carry_fwd_defects_count }})</span>
                </div>
            </a>
        </div>
        
        <div class="col-3">
            <div class="flight-details-box selection-box box-green">
                <span>Documents</span>
                <i class="bi bi-book selection-box-icon"></i>
                <span class="documents-number selection-box-bottom-text">2 Documents</span>
            </div>
        </div>

        <div class="col-3">
            <div class="flight-details-box selection-box box-green">
                <span>Forms</span>
                <i class="bi bi-ui-checks selection-box-icon"></i>
                <span class="total-forms selection-box-bottom-text">Total 1,</span>
                <span class="incomplete-forms selection-box-bottom-text">Incomplete 0</span>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-3">
            <a href="{% url 'flight_servicing' airframe.id %}">
                <div class="flight-details-box selection-box box-green">
                    <span>Servicing</span>
                    <i class="bi bi-speedometer selection-box-icon"></i>
                    <span class="fuel selection-box-bottom-text">Fuel,</span>
                    <span class="oil selection-box-bottom-text">Oil,</span>
                    <span class="Hydr selection-box-bottom-text">Hydr</span>
                </div>
            </a>
        </div>

        <div class="col-3">
            <div class="flight-details-box selection-box box-blue">
                <span>Planned Maint</span>
                <i class="bi bi-calendar selection-box-icon"></i>
                <span class="planned-maint selection-box-bottom-text">None</span>
            </div>
        </div>

        <div class="col-3">
            <div class="flight-details-box selection-box box-amber">
                <span>Ice Protection</span>
                <i class="bi bi-snow selection-box-icon"></i>
                <span class="fluid-type selection-box-bottom-text">Type IV,</span>
                <span class="holdover-time selection-box-bottom-text">30 Min</span>
            </div>
        </div>

        <div class="col-3">
            <div class="flight-details-box selection-box box-red">
                <span>Flight Sign Off</span>
                <i class="bi bi-check-all selection-box-icon"></i>
            </div>
        </div>

    </div>

</div>
<!-- 

{% for airframe_fluid in Airframe_Fluids %}
    <div>{{ airframe_fluid }} - {{ airframe_fluid.level}}</div>
{% endfor %}

{% for engine_fluid in Engine_Fluids %}
    <div>{{ engine_fluid }} - {{ engine_fluid.level}}</div>
{% endfor %}
<br><br>
<div>Defects</div>
{% for techlog in Airframe_Defects %}
    <div>{{ techlog.defect.title }} {{ techlog.defect.ata_1 }} - {{ techlog.defect.ata_2 }} - {{ techlog.defect.ata_3 }}<br><br>
        <div>{{ techlog.defect.maint_note }}</div><br>
        <div>{{ techlog.defect.operations }}</div>
    </div>
{% endfor %} -->

{% endblock %}