{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

        {% for fluid in fluids %}
            <div class="col-3">
                <div class="oil-page-box selection-box box-green">
                    <h1 class="oil-page-box-row">
                        {{fluid.item}} ({{fluid.max_level|floatformat:0}} {{fluid.get_units_of_measure_display}} )
                    </h1>
                    <div class="oil-page-box-row">
                        <span class="oil-page-box-item">Arrival </span>
                        <span class="oil-page-box-item" id="oil_arrival_{{ forloop.counter }}">{{fluid.level}}</span>
                    </div>
                    <div class="oil-page-box-row">
                        <span class="oil-page-box-item">Usage/Hour </span>
                        <span>---</span>
                    </div>
                    <div class="oil-page-box-row">
                        <span class="oil-page-box-item">Uplift </span>
                        <input class="oil-page-box-item" type="number" id="oil_uplift_{{ forloop.counter }}" name="oil_uplift_{{ forloop.counter }}">
                         
                    </div>
                    <div class="oil-page-box-row">                        
                        <span class="oil-page-box-item">Departure </span>
                        <input class="oil-page-box-item" type="number" id="oil_departure_{{ forloop.counter }}" name="oil_departure_{{ forloop.counter }}" onchange="updateUplift({{ forloop.counter }})" value="{{fluid.level}}"></div>
                </div>
            </div>
        {% endfor %}
        
    </div>

    <div class="row mt-5">
        
        <div class="col-2">
            <div class="oil-page-small-box small-selection-box box-gray">
                Nil Uplift
            </div>
        </div>
        
        <div class="col-2">
            <div class="oil-page-small-box small-selection-box box-amber">
                View usage statistics
            </div>
        </div>
    </div>

</div>
<script>
    function updateUplift(id) {
        const oil_uplfit = document.getElementById("oil_uplift_" + id)
        const oil_arrival = document.getElementById("oil_arrival_" + id).textContent
        const oil_departure = document.getElementById("oil_departure_" + id).value
        const uplift_value = oil_departure - oil_arrival
        oil_uplfit.value = uplift_value
    }
</script>
{% endblock %}