{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

        <div class="col-3">
            <a href="{% url 'flight_oil_levels' airframe.id %}">
                <div class="fuel-box selection-box box-green">
                    <span>Fuel</span>
                    <i class="bi bi-fuel-pump-fill selection-box-icon"></i>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="{% url 'flight_oil_levels' airframe.id %}">
                <div class="oil-box selection-box {% if open_defects_count > 0 %}box-red{% else %}box-green{% endif %}">
                    <span>ENG/APU/IDG Oil</span>
                    <i class="bi bi-droplet selection-box-icon"></i>
                </div>
            </a>
        </div>
        
        <div class="col-3">
            <div class="hyd-box selection-box box-green">
                <span>Hydraulic Fluid</span>
                <i class="bi bi-airplane-fill selection-box-icon"></i>
                <span class="documents-number selection-box-bottom-text">2 Documents</span>
            </div>
        </div>

        <div class="col-3">
            <div class="flight-details-box selection-box box-green">
                <span>Water/Waste</span>
                <i class="bi bi-droplet-fill selection-box-icon"></i>
                <span class="total-forms selection-box-bottom-text">Total 1,</span>
                <span class="incomplete-forms selection-box-bottom-text">Incomplete 0</span>
            </div>
        </div>

    </div>

</div>

{% endblock %}