{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}Techlog{% endblock %}
{% include "header.html" %}
{% load static %}

{% block content %}

<div class="dashboard flight-defects-create">

    <form method="post" class="row">
        <div class="col-4">

            <h1>Defect Details</h1>

            <div class="form-item-row">
                <select name="defect_template" id="defect_template">
                    {% for defect in defects %}
                        <option value="{{ defect.id }}">{{ defect }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-item-row-half">
                <input type="checkbox" name="is_pilot_report" id="is_pilot_report" checked>
                <label>Pilot Report</label>
            </div>

            <div class="form-item-row-half">
                <input type="checkbox" name="is_cabin_log" id="is_cabin_log">
                <label>Cabin Log</label>
            </div>

            <div class="form-item-row">
                <textarea name="defect_text" id="defect_text" placeholder="Defect Text"></textarea>
            </div>

            <div class="form-item-row">
                <input type="text" name="ecam_message" id="ecam_message" placeholder="ECAM Message">
            </div>

            <div class="row">

                <div class="col-5">
                    
                    <div class="oil-page-small-box rectangular-selection-box box-gray">
                        <i class="bi bi-fuel-pump-fill selection-box-icon"></i>
                        Dent & Buckle
                    </div>
                    
                    <div class="oil-page-small-box rectangular-selection-box box-gray">
                        <i class="bi bi-fuel-pump-fill selection-box-icon"></i>
                        Photos
                    </div>

                </div>

                <div class="col-7">
                    
                    <div class="form-item-row box-red">
                        <input type="text" name="auth_id" id="auth_id" placeholder="AUTH ID">
                    </div>                    
                    
                    <div class="form-item-row box-red">
                        <textarea type="text" name="auth_signature" id="auth_signature" placeholder="" disabled></textarea>
                    </div>

                </div>

            </div>

        </div>

    </form>
</div>

{% endblock %}