{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

        <div class="form-field form-field-100">
            <label class="form-label form-item-100">Planned Flight No.</label>
            <input class="form-label form-item-100" type="text" id="flt_number" name="flt_number" value="{{ current_flight.flt_number }}">
        </div>

        <div class="form-field-100">

            <a href="#" class="button rectangular-box box-gray">
                <h2 class="button-title rectangular-box-title">Clear Arrival</h2>
            </a>

            <a href="#" class="button rectangular-box box-gray">
                <h2 class="button-title rectangular-box-title">Nil Refueling</h2>
            </a>

            <a href="#" class="button rectangular-box box-gray">
                <i class="bi bi-fuel-pump-fill"></i>
                <h2 class="button-title rectangular-box-title">Cancel Refueling</h2>
            </a>

            <div class="form-field form-text-field">
                <label class="form-label form-item-50">Required Fuel</label>
                <input class="form-label form-item-50" type="number" id="required_fuel" name="required_fuel" onchange="calculateVolume()">
            </div>
            
            <div class="form-field form-text-field">
                <label class="form-label form-item-50">Specific Gravity</label>
                <input class="form-label form-item-50" type="number" id="specific_gravity" name="specific_gravity" value="0.78">
            </div>
            
            <div class="form-field form-text-field">
                <label class="form-label form-item-100">Required Uplift</label>
                <div class="form-field-group">
                    <span class="form-label form-item-50" id="required_fuel_in_volume">Fuel in Kg....</span>
                    <span class="form-label form-item-50">Lt</span>
                </div>
                <div class="form-field-group">
                    <span class="form-label form-item-50" id="required_fuel_in_weight">Fuel in liters....</span>
                    <span class="form-label form-item-50">{{ fuel.get_units_of_measure_display }}</span>
                </div>
            </div>

            <a href="#" class="button rectangular-box rectangular-box-icon-left box-gray">
                <i class="bi bi-fuel-pump-fill"></i>
                <h2 class="button-title rectangular-box-title">Multiple Refueling</h2>
            </a>
        </div>

        
    </div>

    <div class="row">
        {% for tank in fuel_tanks %}
            <div class="form-field form-field-20 box-green">

                <h1 class="form-label form-item-100">
                    {{tank.item}} ({{tank.get_units_of_measure_display}})
                </h1>

                <div class="form-field-group">
                    <span class="form-label form-item-50">Capacity </span>
                    <span class="form-label form-item-50" id="oil_arrival_{{ forloop.counter }}">{{tank.max_level|floatformat:0}} {{tank.get_units_of_measure_display}}</span>
                </div>

                <div class="form-field-group">
                    <span class="form-label form-item-50">Arrival </span>
                    <span class="form-label form-item-50" id="oil_arrival_{{ forloop.counter }}">{{tank.level|floatformat:0}}</span>
                </div>

                <div class="form-field-group">
                    <span class="form-label form-item-50">Pre Fuel </span>
                    <input class="form-label form-item-50" type="number" value="{{tank.level}}">
                </div>

                <div class="form-field-group">                        
                    <span class="form-label form-item-50">Required </span>
                    <input class="form-label form-item-50" type="number" value="{{current_flight.required_fuel_in_kg}}">
                </div>
            </div>
        {% endfor %}
    
        <div class="form-field form-field-20 box-green">

            <h1 class="form-label form-item-100">
                Total ()
            </h1>

            <div class="form-field-group">
                <span class="form-label form-item-50">Capacity </span>
                <span class="form-label form-item-50" id="oil_arrival_{{ forloop.counter }}">{{total_fuel.max_level|floatformat:0}} {{total_fuel.get_units_of_measure_display}}</span>
            </div>

            <div class="form-field-group">
                <span class="form-label form-item-50">Arrival </span>
                <span class="form-label form-item-50" id="oil_arrival_{{ forloop.counter }}">{{total_fuel.level|floatformat:0}}</span>
            </div>

            <div class="form-field-group">
                <span class="form-label form-item-50">Pre Fuel </span>
                <input class="form-label form-item-50" type="number" value="{{total_fuel.level}}">
            </div>

            <div class="form-field-group">                        
                <span class="form-label form-item-50">Required </span>
                <input class="form-label form-item-50" type="number" value="{{current_flight.required_fuel_in_kg}}">
            </div>
        </div>

    </div>
    
    <div class="row mt-5">
        <div class="col-3">

            <div class="form-field-group">
                <span class="form-label form-item-50">Fuel Supplier </span>
                <input class="form-label form-item-50" type="number" value="">
            </div>

            <div class="form-field-group mt-2">
                <span class="form-label form-item-50">Fuel Ticket/Invoice No </span>
                <input class="form-label form-item-50" type="number" value="">
            </div>

            <div class="form-field-group mt-2">
                <span class="form-label form-item-50">Bowser Uplift </span>
                <input class="form-label form-item-50" type="number" value="{{current_flight.required_fuel_in_kg}}">
            </div>

        </div>

        <div class="col-3">

            <a href="#" class="button rectangular-box rectangular-box-icon-left box-green">
                <i class="bi bi-fuel-pump-fill"></i>
                <h2 class="button-title rectangular-box-title">Grade/Type</h2>
            </a>
            
            <a href="#" class="button rectangular-box box-gray">
                <h2 class="button-title rectangular-box-title">
                    <input type="checkbox">
                    Nil Oils/Fluids
                </h2>
            </a>

            <div class="form-field-group">
                <span class="form-label form-item-30">Calculated Uplift </span>
                <span class="form-label form-item-40 item-has-value">189495641</span>
                <span class="form-label form-item-30">{{ fuel.get_units_of_measure_display }}</span>
            </div>

            <div class="form-field-group">
                <span class="form-label form-item-30">Calculated Bowser Uplift </span>
                <span class="form-label form-item-40 item-has-value">189495641</span>
                <span class="form-label form-item-30">{{ fuel.get_units_of_measure_display }}</span>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        
        <div class="col-2">
            <a href="#" class="button rectangular-box box-gray">
                <h2 class="button-title rectangular-box-title">Nil Uplift</h2>
            </a>
        </div>
        
        <div class="col-2">
            <a href="#" class="button rectangular-box box-amber">
                <h2 class="button-title rectangular-box-title">View usage statistics</h2>
            </a>
        </div>
    </div>

</div>
<script>
    function calculateVolume(){
        const required_fuel = document.getElementById("required_fuel").value
        const specific_gravity = document.getElementById("specific_gravity").value
        const required_fuel_in_volume = document.getElementById("required_fuel_in_volume")
        const required_fuel_in_weight = document.getElementById("required_fuel_in_weight")
        required_fuel_in_volume.textContent = Math.round(required_fuel / specific_gravity)
        required_fuel_in_weight.textContent = required_fuel
    }
</script>
{% endblock %}