{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard fuel-page">

    <div class="row">

        <div class="oil-page-box-row col-12">
            <span class="oil-page-box-item">Planned Flight No.</span>
            <input class="oil-page-box-item" type="text" id="flt_number" name="flt_number" value="{{ current_flight.flt_number }}">
        </div>

        <div class="oil-page-box-row col-12">

            <div class="oil-page-small-box small-selection-box box-gray">
                Clear Arrival
            </div>

            <div class="oil-page-small-box small-selection-box box-gray">
                Nil Refueling
            </div>

            <div class="oil-page-small-box rectangular-selection-box box-gray">
                <i class="bi bi-fuel-pump-fill selection-box-icon"></i>
                Cancel Refueling
            </div>

            <div class="oil-page-small-box rectangular-selection-box box-gray">
                Required Fuel
                <input type="number" id="required_fuel" name="required_fuel" onchange="calculateVolume()">
            </div>
            
            <div class="oil-page-small-box rectangular-selection-box box-gray">
                Specific Gravity
                <input type="number" id="specific_gravity" name="specific_gravity" value="0.78">
            </div>
            
            <div class="oil-page-small-box rectangular-selection-box box-gray">
                Required Uplift
                <div class="oil-page-box-row ">
                    <span id="required_fuel_in_volume">Fuel in Kg....</span>
                    <span>Lt</span>
                </div>
                <div class="oil-page-box-row ">
                    <span id="required_fuel_in_weight">Fuel in liters....</span>
                    <span>{{ fuel.get_units_of_measure_display }}</span>
                </div>
            </div>

            <div class="oil-page-small-box rectangular-selection-box box-gray">
                <i class="bi bi-fuel-pump-fill selection-box-icon"></i>
                Multiple Refueling
            </div>
        </div>

        
    </div>

    <div class="row">
        <div class="col-2">
        
            <div class="oil-page-box selection-box box-green">

                <h1 class="oil-page-box-row">
                    {{fuel.item}} ({{fuel.get_units_of_measure_display}})
                </h1>

                <div class="oil-page-box-row">
                    <span class="oil-page-box-item">Capacity </span>
                    <span class="oil-page-box-item" id="oil_arrival_{{ forloop.counter }}">{{fuel.max_level|floatformat:0}} {{fuel.get_units_of_measure_display}}</span>
                </div>

                <div class="oil-page-box-row">
                    <span class="oil-page-box-item">Arrival </span>
                    <span class="oil-page-box-item" id="oil_arrival_{{ forloop.counter }}">{{fuel.level|floatformat:0}}</span>
                </div>

                <div class="oil-page-box-row">
                    <span class="oil-page-box-item">Pre Fuel </span>
                    <input class="oil-page-box-item" type="number" value="{{fuel.level}}">
                </div>

                <div class="oil-page-box-row">                        
                    <span class="oil-page-box-item">Required </span>
                    <input class="oil-page-box-item" type="number" value="{{current_flight.required_fuel_in_kg}}">
                </div>
            </div>

        </div>
    </div>
    
    <div class="row mt-5">
        <div class="col-3">

            <div class="oil-page-box-row">
                <span class="oil-page-box-item">Fuel Supllier </span>
                <input class="oil-page-box-item" type="number" value="">
            </div>

            <div class="oil-page-box-row mt-2">
                <span class="oil-page-box-item">Fuel Ticket/Invoice No </span>
                <input class="oil-page-box-item" type="number" value="">
            </div>

            <div class="oil-page-box-row mt-2">
                <span class="oil-page-box-item">Bowser Uplift </span>
                <input class="oil-page-box-item" type="number" value="{{current_flight.required_fuel_in_kg}}">
            </div>

        </div>

        <div class="col-3">

            <div class="oil-page-small-box small-selection-box box-green">
                <i class="bi bi-fuel-pump-fill selection-box-icon"></i>
                Grade/Type
            </div>
            
            <div class="oil-page-small-box rectangular-selection-box box-gray">
                <input type="checkbox">
                Nil Oils/Fluids
            </div>

            <div class="oil-page-row">
                <span class="oil-page-box-item">Calculated Uplift </span>
                <span class="oil-page-box-item item-has-value">189495641</span>
                <span class="oil-page-box-item">{{ fuel.get_units_of_measure_display }}</span>
            </div>

            <div class="oil-page-row">
                <span class="oil-page-box-item">Calculated Bowser Uplift </span>
                <span class="oil-page-box-item item-has-value">189495641</span>
                <span class="oil-page-box-item">{{ fuel.get_units_of_measure_display }}</span>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        
        <div class="col-2">
            <div class="oil-page-small-box small-selection-box box-gray">
                Nil Uplift
            </div>
        </div>
        
        <div class="col-2">
            <div class="oil-page-small-box small-selection-box box-amber">
                View usage statistics
            </div>
        </div>
    </div>

</div>
<script>
    function calculateVolume(){
        const required_fuel = document.getElementById("required_fuel").value
        const specific_gravity = document.getElementById("specific_gravity").value
        const required_fuel_in_volume = document.getElementById("required_fuel_in_volume")
        const required_fuel_in_weight = document.getElementById("required_fuel_in_weight")
        required_fuel_in_volume.textContent = Math.round(required_fuel / specific_gravity)
        required_fuel_in_weight.textContent = required_fuel
    }
</script>
{% endblock %}