{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}Techlog{% endblock %}
{% include "header.html" %}
{% load static %}

{% block content %}

<div class="dashboard">

    <div class="row">

        <div class="col-3">
            {% for airframe in airframes %}
            <div>
                <a href="../airframe/{{ airframe.id }}" onclick="setAirframe({{airframe.id}})">{{ airframe.registration }}</a>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    function setAirframe(airframe_id){
        sessionStorage.setItem(
            'current_airframe',
            airframe_id
        );
    }
</script>

{% endblock %}