{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

    <form method="post" class="row">
        {% csrf_token %}
        <!-- if form_sent == true -> inputs blue bg -->
        <div class="form-full 
            {% if fuel_uplift_not_sent %}
                form-not-sent
            {% else %}
                form-sent
            {% endif %}
        ">
    
            <div class="form-field form-input-field  form-field-100">
                <label class="form-label form-item-100">Planned Flight No.</label>
                <!-- TODO SEARCH BOX ON THIS and allow empty if flight is not initialized yet-->
                <input class="form-label form-item-100" type="text" id="planned_flt_number" name="planned_flt_number" value="{{ current_flight.id }}" readonly>
            </div>

            <div class="form-field form-field-100 form-field-group">                

                <a href="#" onclick="copyArrivalFuel(event)" class="box rectangular-box box-gray">
                    <h2 class="box-title rectangular-box-title">Copy Arrival Fuel</h2>
                </a>

                <a href="#" class="box rectangular-box box-gray">
                    <h2 class="box-title rectangular-box-title" data-nil-refueling="false">Nil Refueling</h2>
                </a>

                <a href="#" class="box rectangular-box box-gray">
                    <i class="bi bi-fuel-pump-fill"></i>
                    <h2 class="box-title rectangular-box-title" onclick="activateRefueling(event, this)" data-refueling-active="false">Refueling</h2>
                </a>

                <div class="form-field form-text-field box rectangular-box box-gray">
                    <label class="form-label form-item-50">Planned Dep Fuel</label>
                    <input class="form-label form-item-50 data-refueling-active-false" type="number" id="planned_dep_fuel_in_kg" name="planned_dep_fuel_in_kg" onblur="calculateVolume()" value="{{current_flight.required_fuel_in_kg}}">
                </div>
                
                <div class="form-field form-text-field box rectangular-box box-gray">
                    <label class="form-label form-item-50">Specific Gravity</label>
                    <input class="form-label form-item-50 data-refueling-active-false" type="number" step="0.01" id="specific_gravity" name="specific_gravity" value="0.81">
                </div>
                
                <div class="form-field form-text-field  box rectangular-box box-gray">
                    <label class="form-label form-item-100">Required Uplift</label>
                    <div class="form-field-group">
                        <span class="form-label form-item-50" id="required_fuel_in_volume" name="required_fuel_in_volume">Fuel in Kg....</span>
                        <span class="form-label form-item-50">Lt</span>
                    </div>
                    <div class="form-field-group">
                        <span class="form-label form-item-50" id="required_fuel_in_weight" name="required_fuel_in_weight">Fuel in liters....</span>
                        <span class="form-label form-item-50">{{ fuel.get_units_of_measure_display }}</span>
                    </div>
                </div>

                <a href="{% url 'servicing_refuel_list' current_airframe.id %}" class="button rectangular-box rectangular-box-icon-left box-gray">
                    <i class="bi bi-fuel-pump-fill"></i>
                    <h2 class="button-title rectangular-box-title">Multiple Refueling</h2>
                </a>
            </div>

            
            {% for tank in fuel_tanks %}
                <div class="form-group form-group-20 box-green fuel-tank-single" data-tank-id="{{tank.id}}">

                    <h1 class="form-label form-item-100">
                        {{tank.item}} ({{tank.get_units_of_measure_display}})
                    </h1>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Capacity </span>
                        <span class="form-label form-item-50" id="fuel_capacity_{{ tank.id }}">{{tank.max_level|floatformat:0}} {{tank.get_units_of_measure_display}}</span>
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Arrival </span>
                        <span class="form-label form-item-50" id="fuel_arrival_{{ tank.id }}">{{tank.level|floatformat:0}}</span>
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Pre Fuel </span>
                        <input class="form-label form-item-50" id="pre_refuel_in_kg_{{ tank.id }}" name="pre_refuel_in_kg_{{ tank.id }}" type="number" value="">
                    </div>

                    <div class="form-field-100">                        
                        <span class="form-label form-item-50">Departure </span>
                        <input class="form-label form-item-50" id="departure_fob_in_kg_{{ tank.id }}" name="departure_fob_in_kg_{{ tank.id }}" onblur="setDepartureFuel(event)" type="number" value="">
                    </div>
                </div>
            {% endfor %}
    
            <div class="form-group form-group-20 box-green fuel-tank-total">

                <h1 class="form-label form-item-100">
                    Total ()
                </h1>

                <div class="form-field-100">
                    <span class="form-label form-item-50">Capacity </span>
                    <span class="form-label form-item-50" id="fuel_capacity_total">{{total_fuel.max_level|floatformat:0}} {{total_fuel.get_units_of_measure_display}}</span>
                </div>

                <div class="form-field-100">
                    <span class="form-label form-item-50">Arrival </span>
                    <span class="form-label form-item-50" id="fuel_arrival_total">{{total_fuel.level|floatformat:0}}</span>
                </div>

                <div class="form-field-100">
                    <span class="form-label form-item-50">Pre Refuel</span>
                    <input class="form-label form-item-50" id="pre_refuel_in_kg" name="pre_refuel_in_kg" type="number" value="" readonly="readonly">
                </div>

                <div class="form-field-100">                        
                    <span class="form-label form-item-50">Departure</span>
                    <input class="form-label form-item-50" id="departure_fob_in_kg" name="departure_fob_in_kg" onchange="calculateVolume()" type="number" value="" readonly>
                    <input class="form-label form-item-50" id="required_uplift_in_lt" name="required_uplift_in_lt" type="number" value="" hidden>
                </div>

            </div>
            <div class="form-group form-group-100"></div>

            <div class="form-group form-group-30 box-green fuel-tank-total">

                <div class="form-field-100">
                    <span class="form-label form-item-50">Fuel Supplier </span>
                    <input class="form-label form-item-50" type="text" id="fuel_supplier" name="fuel_supplier" value="BR">
                </div>

                <div class="form-field-100">
                <span class="form-label form-item-50">Fuel Ticket/Invoice No </span>
                <input class="form-label form-item-50" type="text" id="fuel_ticket_no" name="fuel_ticket_no" value="12345">
                </div>

                <div class="form-field-100">
                <span class="form-label form-item-50">Bowser Uplift</span>
                <input class="form-label form-item-50" type="number" id="bowser_uplift_in_lt" name="bowser_uplift_in_lt" value="">
                </div>
            
                <a href="#" class="button rectangular-box box-gray">
                    <h2 class="button-title rectangular-box-title">
                        <input type="checkbox" name="nil_uplift" id="nil_uplift">
                        Nil Oils/Fluids
                    </h2>
                </a>

            </div>

            <div class="form-field form-field-70 form-sign-box">
                <!-- mock up rels code should come form db user code defined in settings -->
                <input hidden name="maint_rels_code">
                <input class="form-auth form-auth-input form-auth-red" type="text" name="crew_auth_id" id="crew_auth_id">
                <input class="form-auth form-auth-input form-auth-red" type="submit" name="crew_auth_sign" id="crew_auth_sign">
            </div>

        </div>

    </form>

        
    </div>
    
    <div class="row mt-5">
        <div class="col-3">

        </div>

        <div class="col-3">

            <a href="#" class="button rectangular-box rectangular-box-icon-left box-green">
                <i class="bi bi-fuel-pump-fill"></i>
                <h2 class="button-title rectangular-box-title">Grade/Type</h2>
            </a>

            <div class="form-field-group">
                <span class="form-label form-item-30">Calculated Uplift </span>
                <span class="form-label form-item-40 item-has-value" id="calculated_uplift_in_lt"></span>
                <span class="form-label form-item-30">{{ fuel.get_units_of_measure_display }}</span>
            </div>

        </div>
    </div>

    <div class="row mt-5">
        
        <div class="col-2">
            <a href="#" class="button rectangular-box box-gray">
                <h2 class="button-title rectangular-box-title">Nil Uplift</h2>
            </a>
        </div>
        
        <div class="col-2">
            <a href="#" class="button rectangular-box box-amber">
                <h2 class="button-title rectangular-box-title">View usage statistics</h2>
            </a>
        </div>
    </div>

</div>
<script>
    function calculateVolume(){
        const required_fuel = document.getElementById("planned_dep_fuel_in_kg").value
        const specific_gravity = document.getElementById("specific_gravity").value
        const fuel_pre_total = document.getElementById("pre_refuel_in_kg").value
        const departure_fob_in_kg = document.getElementById("departure_fob_in_kg").value
        const required_uplift_in_lt = document.getElementById("required_uplift_in_lt")
        const calculated_uplift_in_lt = document.getElementById("calculated_uplift_in_lt")
        const required_fuel_in_volume = document.getElementById("required_fuel_in_volume")
        const required_fuel_in_weight = document.getElementById("required_fuel_in_weight")
        console.log("required_uplift_in_lt")
        console.log(required_uplift_in_lt)
        console.log("fuel_pre_total")
        console.log(fuel_pre_total)
        console.log("specific_gravity")
        console.log(specific_gravity)
        console.log("required_fuel")
        console.log(required_fuel)
        if (fuel_pre_total && specific_gravity && required_fuel) {
            required_fuel_in_weight.textContent = required_fuel - fuel_pre_total
            required_fuel_in_volume.textContent = Math.round((required_fuel - fuel_pre_total) / specific_gravity)
            if (departure_fob_in_kg) {
                console.log("departure_fob_in_kg")
                console.log(departure_fob_in_kg)
                required_uplift_in_lt.value = Math.round((departure_fob_in_kg - fuel_pre_total) / specific_gravity)
                console.log("required_uplift_in_lt")
                console.log(required_uplift_in_lt)
                calculated_uplift_in_lt.textContent = Math.round((departure_fob_in_kg - fuel_pre_total) / specific_gravity)
                console.log("calculated_uplift_in_lt")
                console.log(calculated_uplift_in_lt)
            }
        } else {
            required_fuel_in_weight.textContent = ""
            required_fuel_in_volume.textContent = ""
        }
    }

    function activateRefueling(event, button) {
        event.preventDefault();

        const isActive = button.getAttribute('data-refueling-active') === 'true';

        const elements = document.querySelectorAll(
            '.data-refueling-active-false, .data-refueling-active-true'
        );

        if (isActive) {
            elements.forEach(element => {
                element.classList.replace(
                    'data-refueling-active-true',
                    'data-refueling-active-false'
                );
                button.childNodes[0].textContent = "Refueling"
            });

            button.setAttribute('data-refueling-active', 'false');
        } else {
            elements.forEach(element => {
                element.classList.replace(
                    'data-refueling-active-false',
                    'data-refueling-active-true'
                );
                button.childNodes[0].textContent = "Cancel Refueling"
            });

            button.setAttribute('data-refueling-active', 'true');
        }

        console.log(button.getAttribute('data-refueling-active'));
    }

    function copyArrivalFuel() {
        event.preventDefault()
        document.querySelectorAll(".fuel-tank-single").forEach(tank => {
            const tankId = tank.dataset.tankId;

            const arrival = document.getElementById(`fuel_arrival_${tankId}`);
            const preFuel = document.getElementById(`pre_refuel_in_kg_${tankId}`);
            const arrival_total = document.getElementById("fuel_arrival_total")
            const preFuel_total = document.getElementById("pre_refuel_in_kg")

            preFuel.value = arrival.textContent.trim();
            preFuel_total.value = arrival_total.textContent.trim();
            calculateVolume()
        });
    }

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");

        form.querySelectorAll("input, select, textarea").forEach(el => {
            el.addEventListener("input", calculateVolume);
            el.addEventListener("change", calculateVolume);
        });
    });
    
    function setDepartureFuel(event) {
        event.preventDefault();

        let total_departure_fuel = 0;

        document.querySelectorAll(".fuel-tank-single").forEach(tank => {
            const tankId = tank.dataset.tankId;

            const input = document.getElementById(`departure_fob_in_kg_${tankId}`);

            if (input && input.value) {
                total_departure_fuel += Number(input.value) || 0;
            }
        });

        const departure_fob_in_kg = document.getElementById("departure_fob_in_kg");

        if (departure_fob_in_kg) {
            departure_fob_in_kg.value = total_departure_fuel;
        }

        calculateVolume();
    }

    document.addEventListener("DOMContentLoaded", () => {
        const form = document.querySelector("form");

        form.querySelectorAll("input, select, textarea").forEach(el => {
            el.addEventListener("input", calculateVolume);
            el.addEventListener("change", calculateVolume);
        });
    });
</script>
{% endblock %}