{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

    <form method="post" class="row">
        {% csrf_token %}
        <!-- if form_sent == true -> inputs blue bg -->
        <div class="form-full 
            {% if hyd_uplift_not_sent %}
                form-not-sent
            {% else %}
                form-sent
            {% endif %}
        ">
            
            {% for tank in engine_hyd_tanks %}
                <div class="form-group form-group-20 box-green hyd-tank-single" data-tank-id="{{tank.id}}">

                    <h1 class="form-label form-item-100">
                        {{tank.item}} ({{tank.get_units_of_measure_display}})
                    </h1>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Capacity </span>
                        <span class="form-label form-item-50" id="hyd_capacity_{{ tank.id }}">{{tank.max_level}} {{tank.get_units_of_measure_display}}</span>
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Arrival </span>
                        <span class="form-label form-item-50" id="hyd_arrival_{{ tank.id }}">{{tank.level}}</span>
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Uplift </span>
                        <input class="form-label form-item-50" id="hyd_uplift_{{ tank.id }}" name="hyd_uplift_{{ tank.id }}" type="number" value="">
                    </div>

                    <div class="form-field-100">                        
                        <span class="form-label form-item-50">Departure </span>
                        <input class="form-label form-item-50" id="hyd_departure_{{ tank.id }}" name="hyd_departure_{{ tank.id }}" onblur="calculateUplift({{tank.id}}, event)" type="number" value="">
                    </div>
                </div>
            {% endfor %}

            
            {% for tank in airframe_hyd_tanks %}
                <div class="form-group form-group-20 box-green hyd-tank-single" data-tank-id="{{tank.id}}">

                    <h1 class="form-label form-item-100">
                        {{tank.item}} ({{tank.get_units_of_measure_display}})
                    </h1>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Capacity </span>
                        <span class="form-label form-item-50" id="hyd_capacity_{{ tank.id }}">{{tank.max_level}} {{tank.get_units_of_measure_display}}</span>
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Arrival </span>
                        <span class="form-label form-item-50" id="hyd_arrival_{{ tank.id }}">{{tank.level}}</span>
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Uplift </span>
                        <input class="form-label form-item-50" id="hyd_uplift_{{ tank.id }}" name="hyd_uplift_{{ tank.id }}" type="number" value="">
                    </div>

                    <div class="form-field-100">                        
                        <span class="form-label form-item-50">Departure </span>
                        <input class="form-label form-item-50" id="hyd_departure_{{ tank.id }}" name="hyd_departure_{{ tank.id }}" onblur="calculateUplift({{tank.id}}, event)" type="number" value="">
                    </div>
                </div>
            {% endfor %}
            <div class="form-group form-group-100"></div>
            
                <a href="#" class="button rectangular-box box-gray">
                    <h2 class="button-title rectangular-box-title">
                        <input type="checkbox" name="hyd_nil_uplift" id="hyd_nil_uplift">
                        Nil hyds/Fluids
                    </h2>
                </a>

            </div>

            <div class="form-field form-field-70 form-sign-box">
                <!-- mock up rels code should come form db user code defined in settings -->
                <input hidden name="maint_rels_code">
                <input class="form-auth form-auth-input form-auth-red" type="text" name="crew_auth_id" id="crew_auth_id">
                <input class="form-auth form-auth-input form-auth-red" type="submit" name="crew_auth_sign" id="crew_auth_sign">
            </div>

        </div>

    </form>

</div>
<script>
    function calculateUplift(tank_id, event) {
        const tankId = tank_id;
        console.log("tankId")
        console.log(tankId)

        const arrival = document.getElementById(`hyd_arrival_${tankId}`);
        const uplift = document.getElementById(`hyd_uplift_${tankId}`);
        const departure = document.getElementById(`hyd_departure_${tankId}`);
        var arrival_value = parseFloat( arrival.textContent.trim());
        var departure_value = parseFloat( departure.value);
        console.log("arrival")
        console.log(arrival)
        console.log("uplift")
        console.log(uplift)
        console.log("departure")
        console.log(departure)
        console.log("arrival_value")
        console.log(arrival_value)
        console.log("departure_value")
        console.log(departure_value)
        uplift.value = departure_value - arrival_value;

    }
</script>
{% endblock %}