{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

        <div class="col-3">
            <a href="{% url 'flight_departure_fluids' airframe.id 0 %}">
                <div class="fuel-box big-box {% if current_flight.refuel_is_done %}box-green{% else %}box-red{% endif %}">
                    <span>Fuel</span>
                    <i class="bi bi-fuel-pump-fill big-box-icon"></i>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="{% url 'servicing_oil' airframe.id %}">
                <div class="oil-box big-box {% if current_flight.oil_is_done %}box-green{% else %}box-red{% endif %}">
                    <span>ENG/APU/IDG Oil</span>
                    <i class="bi bi-droplet big-box-icon"></i>
                </div>
            </a>
        </div>
        
        <div class="col-3">
            <a href="{% url 'servicing_hyd' airframe.id %}">
                <div class="hyd-box big-box {% if current_flight.hyd_is_done %}box-green{% else %}box-red{% endif %}">
                    <span>Hydraulic Fluid</span>
                    <i class="bi bi-airplane-fill big-box-icon"></i>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="{% url 'servicing_water' airframe.id %}">
                <div class="flight-details-box big-box {% if current_flight.water_is_done %}box-green{% else %}box-red{% endif %}">
                    <span>Water/Waste</span>
                    <i class="bi bi-droplet-fill big-box-icon"></i>
                </div>
            </a>
        </div>

    </div>

</div>

{% endblock %}