{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}
<div class="dashboard">

    <div class="row">

    <form id="fuelArrivalForm" method="post" class="row">
        {% csrf_token %}
        <!-- if form_sent == true -> inputs blue bg -->
        <div class="form-full 
            {% if fuel_uplift_not_sent %}
                form-not-sent
            {% else %}
                form-sent
            {% endif %}
        ">
            
            {% for tank in fluid_tanks %}
                <div class="form-group form-group-20 box-green fuel-tank-single" data-tank-id="{{tank.id}}">

                    <h1 class="form-label form-item-100">
                        {{tank.fluid_template.name}} ({{tank.fluid_template.get_units_of_measure_display}})
                    </h1>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Capacity </span>
                        <span class="form-label form-item-50" id="fuel_capacity_{{ tank.id }}">
                            {% if total_fluid.fluid_type == 0 %}
                                {{tank.fluid_template.max_level|floatformat:0}} {{tank.fluid_template.get_units_of_measure_display}}
                            {% else %}
                                {{tank.fluid_template.max_level|floatformat:2}} {{tank.fluid_template.get_units_of_measure_display}}
                            {% endif %}
                        </span>
                    </div>

                    <div class="form-field-100">                        
                        <span class="form-label form-item-50">Departure </span>
                        <input class="form-label form-item-50" id="fluid_departure_{{ tank.id }}" name="fluid_departure_{{ tank.id }}" type="number" value="{{tank.level|floatformat:0}}">
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Arrival</span>
                        <span class="form-label form-item-50"></span>
                        <input class="form-label form-item-50" id="fluid_arrival_{{ tank.id }}" name="fluid_arrival_{{ tank.id }}" onblur="setUsedFuel()" type="number" value="">
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Usage </span>
                        <input class="form-label form-item-50"  class="form-label form-item-50" id="fuel_usage_{{ tank.id }}" id="fuel_usage_{{ tank.id }}" readonly>
                    </div>
                </div>
            {% endfor %}

            {% if total_fluid.fluid_type == 0 %}
                <div class="form-group form-group-20 box-green fuel-tank-total">

                    <h1 class="form-label form-item-100">
                        Total ({{total_fluid.units_of_measure}})
                    </h1>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Capacity </span>
                        <span class="form-label form-item-50" id="fuel_capacity_total">{{total_fluid.max_level|floatformat:0}} {{total_fluid.units_of_measure}}</span>
                    </div>

                    <div class="form-field-100">                        
                        <span class="form-label form-item-50">Departure </span>
                        <input class="form-label form-item-50" id="fuel_departure_total" name="fuel_departure_total" type="number" value="{{total_fluid.level|floatformat:0}}">
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Arrival</span>
                        <input class="form-label form-item-50" id="fuel_arrival_total" name="fuel_arrival_total" readonly type="number" value="">
                    </div>

                    <div class="form-field-100">
                        <span class="form-label form-item-50">Usage </span>
                        <input class="form-label form-item-50" id="fuel_usage_total" name="fuel_usage_total" type="number" value="">
                    </div>

                </div>
            {% endif %}

        </div>

        <!-- SUBMIT BUTTON -->
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success btn-lg w-100" onclick="transmitFlightFuelData(event)">
                    <i class="bi bi-check-circle me-2"></i>DATA TRANSMIT
                </button>
            </div>
        </div>

    </form>

</div>
<script>
    function transmitFlightFuelData(event) {
        event.preventDefault();

        form = document.getElementById('fuelArrivalForm')
        const formData = new FormData(form)
        console.log(formData);
        fetch(this.action || window.location.href, {
            method: "POST",
            body: formData
        })
        .then(response =>
            response.json()
        )
        .then(data => {
            console.log(data);
        });
    }

</script>
{% endblock %}