{% extends "base.html" %}
{% block title %}Techlog - {{ page_title }}{{ page_title }}{% endblock %}
{% include "header.html" %}

{% block content %}

<form id="fluidArrivalForm" method="post" class="row mt-3">
    {% csrf_token %}
    <!-- if form_sent == true -> inputs blue bg -->
    <div class="row 
        {% if fuel_uplift_not_sent %}
            form-not-sent
        {% else %}
            form-sent
        {% endif %}
    ">
        
        {% for tank in departure_fluid_tanks %}
            <div class="col-md-4 mb-3">
                <div class="card fuel-tank-single" data-tank-id="{{tank.fluid.id}}">
                    <div class="card-body">

                        <h1 class="card-title">
                            {{tank.fluid.fluid_template.name}} {{tank.fluid.airframe_engine.engine_number}} ({{tank.fluid.fluid_template.get_units_of_measure_display}})
                        </h1>

                        <div class="card-text form-group row mb-3">
                            <label class="col-sm-3 col-form-label">Capacity</label>
                            <span class="col-sm-9" id="fuel_capacity_{{ tank.id }}">
                                {% if total_fluid.fluid_type == 0 %}
                                    {{tank.fluid.fluid_template.max_level|floatformat:0}} {{tank.fluid.fluid_template.get_units_of_measure_display}}
                                {% else %}
                                    {{tank.fluid.fluid_template.max_level|floatformat:2}} {{tank.fluid.fluid_template.get_units_of_measure_display}}
                                {% endif %}
                            </span>
                        </div>

                        <div class="card-text form-group row mb-3">                        
                            <label class="col-sm-3 col-form-label" for="fluid_departure_{{ tank.fluid.id }}">Departure</label>
                            <div class="col-sm-9">
                                <input 
                                    class="form-control" 
                                    id="fluid_departure_{{ tank.fluid.id }}" 
                                    name="fluid_departure_{{ tank.fluid.id }}" 
                                    type="number" 
                                    value="{{tank.level|floatformat:2}}">
                            </div>
                        </div>

                        <div class="card-text form-group row mb-3">                        
                            <label class="col-sm-3 col-form-label" for="fluid_arrival_{{ tank.fluid.id }}">Arrival</label>
                            <div class="col-sm-9">
                                <input 
                                    class="form-control" 
                                    id="fluid_arrival_{{ tank.fluid.id }}" 
                                    name="fluid_arrival_{{ tank.fluid.id }}" 
                                    type="number" 
                                    value=""
                                    onblur="setUsedFluid()">
                            </div>
                        </div>

                        <div class="card-text form-group row mb-3">                        
                            <label class="col-sm-3 col-form-label" for="fluid_usage_{{ tank.fluid.id }}">Usage</label>
                            <div class="col-sm-9">
                                <input 
                                    class="form-control" 
                                    id="fluid_usage_{{ tank.fluid.id }}" 
                                    name="fluid_usage_{{ tank.fluid.id }}" 
                                    type="number" 
                                    value=""
                                    readonly>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if total_fluid.fluid_type == 0 %}
            <div class="form-group form-group-20 box-green fuel-tank-total">

                <h1 class="form-label form-item-100">
                    Total ({{total_fluid.units_of_measure}})
                </h1>

                <div class="form-field-100">
                    <span class="form-label form-item-50">Capacity </span>
                    <span class="form-label form-item-50" id="fuel_capacity_total">{{total_fluid.max_level|floatformat:0}} {{total_fluid.units_of_measure}}</span>
                </div>

                <div class="form-field-100">                        
                    <span class="form-label form-item-50">Departure </span>
                    <input class="form-label form-item-50" id="fuel_departure_total" name="fuel_departure_total" type="number" value="{{total_fluid.level|floatformat:0}}">
                </div>

                <div class="form-field-100">
                    <span class="form-label form-item-50">Arrival</span>
                    <input class="form-label form-item-50" id="fuel_arrival_total" name="fuel_arrival_total" readonly type="number" value="">
                </div>

                <div class="form-field-100">
                    <span class="form-label form-item-50">Usage </span>
                    <input class="form-label form-item-50" id="fuel_usage_total" name="fuel_usage_total" type="number" value="">
                </div>

            </div>
        {% endif %}

    </div>

    <!-- SUBMIT BUTTON -->
    <div class="row">
        <div class="col-12">
            <button type="button" class="btn btn-success btn-lg w-100" onclick="transmitFlightFuelData(event)">
                <i class="bi bi-check-circle me-2"></i>DATA TRANSMIT
            </button>
        </div>
    </div>

</form>

<script>
    function transmitFlightFuelData(event) {
        event.preventDefault();

        form = document.getElementById('fluidArrivalForm')
        const formData = new FormData(form)
        console.log(formData);
        fetch(this.action || window.location.href, {
            method: "POST",
            body: formData
        })
        .then(response =>
            response.json()
        )
        .then(data => {
            console.log(data);
        });
    }

</script>
{% endblock %}
